<footer class="footer">
  <nav>
    <div>
      <h2>Gitpod</h2>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Changelog</a></li>
        <li><a href="#">Self-Hosted</a></li>
        <li>
          <a href="#">Gitpod vs GitHub <br />Codespaces</a>
        </li>
        <li><a href="#">Status</a></li>
      </ul>
    </div>

    <div>
      <h2>Developer</h2>
      <ul>
        <li><a href="#">Getting started</a></li>
        <li><a href="#">Screencasts</a></li>
        <li><a href="#"></a>Blog</li>
        <li><a href="#"></a>Documentation</li>
        <li><a href="#"></a>Report a bug</li>
        <li><a href="#"></a>Community</li>
      </ul>
    </div>

    <div>
      <h2>Company</h2>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#"></a>Contact</li>
        <li><a href="#"></a>Media Kit</li>
      </ul>
    </div>

    <div>
      <h2>Legal</h2>
      <ul>
        <li><a href="#">Imprint</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
  </nav>
  <hr />
  <div class="copyright">
    <svg width="24" hight="24">
      <use href="./images/svg/sprite.svg#G"></use>
    </svg>
    <p>Copyright © 2021 Gitpod</p>
  </div>

  <ul>
    <li>
      <a href="#">
        <svg width="24" hight="24">
          <use href="./images/svg/sprite.svg#twitter"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg width="24" hight="24">
          <use href="./images/svg/sprite.svg#git"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg width="24" hight="24">
          <use href="./images/svg/sprite.svg#viber"></use>
        </svg>
      </a>
    </li>
  </ul>
</footer>
