<section id="getstarted">
  <h2>Get started now</h2>
  <div class="connect">
    <h3>Connect Git repository</h3>
    <p>Select a Git provider to start with an existing project from any Git context.</p>
    <ul>
      <li>
        <a href="#"
          ><svg width="24" hight="24">
            <use href="./images/svg/sprite.svg#fox"></use>
          </svg>
          Continue with GitLab</a
        >
      </li>
      <li>
        <a href="#"
          ><svg width="24" hight="24">
            <use href="./images/svg/sprite.svg#git"></use>
          </svg>
          Continue with GitHub</a
        >
      </li>
      <li>
        <a href="#"
          ><svg width="24" hight="24">
            <use href="./images/svg/sprite.svg#corb"></use>
          </svg>
          Continue with Bitbucket</a
        >
      </li>
    </ul>
    <p>Or prefix any GitLab, GitHub or Bitbucket URL with</p>
    <a href="#">gitpod.io/#</a>
  </div>

  <div class="examples">
    <h3>Launch an example workspace</h3>
    <p>Dive into one of our example workspaces</p>
    <ul>
      <li>
        <svg width="24" hight="24">
          <use href="./images/svg/sprite.svg#ts"></use>
        </svg>
        <p>Node or TypeScript</p>
        <a href="#">Launch workspace</a>
      </li>
      <li>
        <svg width="24" hight="24">
          <use href="./images/svg/sprite.svg#phyton"></use>
        </svg>
        <p>Phyton</p>
        <a href="#">Launch workspace</a>
      </li>
      <li>
        <svg width="24" hight="24">
          <use href="./images/svg/sprite.svg#go"></use>
        </svg>
        <p>Go</p>
        <a href="#">Launch workspace</a>
      </li>
      <li>
        <svg width="24" hight="24">
          <use href="./images/svg/sprite.svg#rust"></use>
        </svg>
        <p>Rust</p>
        <a href="#">Launch workspace</a>
      </li>
      <li>
        <svg width="24" hight="24">
          <use href="./images/svg/sprite.svg#java"></use>
        </svg>
        <p>Java</p>
        <a href="#">Launch workspace</a>
      </li>
      <li>
        <svg width="24" hight="24">
          <use href="./images/svg/sprite.svg#svelte"></use>
        </svg>
        <p>Svelte</p>
        <a href="#">Launch workspace</a>
      </li>
    </ul>
  </div>
</section>
