<section>
  <h1>
    Always <br />
    Ready to Code.
  </h1>
  <p>
    Spin up fresh, automated dev environments <br />
    for each task, in the cloud, in seconds.
  </p>
  <button type="button">Try Now</button>
  <p>
    Open a workspace. <br />
    Start from any Git context.
  </p>
  <ul class="list">
    <li>
      <a>
        <svg width="29" hight="29">
          <use href="./images/svg/sprite.svg#fox"></use>
        </svg>
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <a>
        <svg width="29" hight="29">
          <use href="./images/svg/sprite.svg#git"></use>
        </svg>
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <a>
        <svg width="29" hight="29">
          <use href="./images/svg/sprite.svg#corb"></use>
        </svg>
      </a>
    </li>
  </ul>
  <img src="./images/hero.jpg" alt="" />
</section>
