<section class="hero" id="hero">
  <div class="hero__block">
    <h1 class="hero__header">
      Always <br />
      Ready to Code.
    </h1>
    <p class="hero__text-slogan">
      Spin up fresh, automated dev environments <br />
      for each task, in the cloud, in seconds.
    </p>
    <div class="hero__try-block">
      <div class="hero__try-block__btn-text">
        <button class="hero__button" type="button">Try Now</button>
        <p class="hero__text-doit">
          Open a workspace. <br />
          Start from any Git context.
        </p>
      </div>
      <ul class="list list__social-links">
        <li>
          <a>
            <svg width="29" hight="29">
              <use href="./images/svg/sprite.svg#fox"></use>
            </svg>
          </a>
        </li>
        <li>
          <a>
            <svg width="29" hight="29">
              <use href="./images/svg/sprite.svg#git"></use>
            </svg>
          </a>
        </li>
        <li>
          <a>
            <svg width="29" hight="29">
              <use href="./images/svg/sprite.svg#corb"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="hero__img">
    <img src="./images/hero.jpg" alt="" />
  </div>
</section>
