<section class="start">
  <h2> Start project</h2>
  <div class="row"></div>
  <p>
    Select project, <br />
    <span
      >check dependencies, checkout branch, view <br />
      readme.txt, install tools, run build, run test,</span
    ><br />
    start coding.
  </p>
  </div>
  <div class="install">
<h3>Think CI/CD for dev environments</h3>
<p>
  We invented prebuilds so application code, configuration and infrastructure can all be stored as machine-executable code in your git repositories and applied to dev environments automatically and continuously.
</p>
<ul>
  <li><a href="#"></a>More on prebuilds</li>
  <li><a href="#"></a>Documentation</li>
</ul>
<img src="./images/code1.jpg" alt="скрин установки">
  </div>
  <div class="extensions">
    <h3>Remote-first. Secure by design.</h3>
    <img src="./images/code2.jpg" alt="скрин настройки">
    <p>You no longer need an over-powered laptop to code, Gitpod works just as smoothly on a Chromebook or iPad. All you need is a browser. Gitpod centralizes all source code and never stores it on insecure machines and networks.</p>
    <ul>
      <li><a>
        <svg width="24" hight="24">
          <use href="./images/svg/sprite.svg#fox"></use>
        </svg>
      </a></li>
      <li><a>
        <svg width="24" hight="24">
          <use href="./images/svg/sprite.svg#fox"></use>
        </svg>
      </a></li>
    </ul>


  </div>
</section>
