<section>
  <h2>Used by 400,000+ developers.</h2>
  <ul>
    <li>
      <div>
        <p>
          GitPod is incredibly cool. <br />
          In my opinion, this is a big step in open source software contribution. I'm excited to see
          where we go from here.
        </p>
        <div>
          <img src="./images/icons/ben.png" alt="Ben" />
          <p>Ben Halpern</p>
          <p>Creator and Co-founder <span>>@forem</span> and <span>@ThePracticalDev</span></p>
        </div>
      </div>
    </li>

    <li>
      <div>
        <p>
          Let's say we were overwhelmed how smooth @gitpod workspaces creation & own Docker image
          for workspaces worked. <br />
          Plus, installing @code extensions from the store and integrating @gitlab CI. That blew my
          mind entirely, and that is hard
        </p>
        <div>
          <img src="./images/icons/michael.png" alt="Michael" />
          <p>Michael Friedrich</p>
          <p>Developer Evangelist <span>@GitLa</span></p>
        </div>
      </div>
    </li>

    <li>
      <div>
        <p>
          Look at any PR (pull request) in a full coding environment where you can edit, build, and
          test the PR code, by just prepending "gitpod.io#" to the PR URL. Super useful for
          reviewing/testing stuff without having to check it out locally!
        </p>
      </div>
      <div>
        <img src="./images/icons/julius.png" alt="Julius" />
        <p>Julius Volz</p>
        <p>Creator <span>@PrometheusIO</span></p>
      </div>
    </li>

    <li>
      <div>
        <p>
          I think I’m in love with @gitpod. It’s such a powerful tool. I’ve learned so much in the
          past week just from stumbling across Github repos that interest me and appending
          “http://gitpod.io/#” to the URL. A+ tool all around.
        </p>
      </div>
      <div>
        <img src="./images/icons/david.png" alt="David Rassler" />
        <p>David Rassler</p>
        <p>Engineering Manager <span>@Instagram</span></p>
      </div>
    </li>

    <li>
      <div>
        <p>
          I think I’m in love with @gitpod. It’s such a powerful tool. I’ve learned so much in the
          past week just from stumbling across Github repos that interest me and appending
          “http://gitpod.io/#” to the URL. A+ tool all around.
        </p>
      </div>
      <div>
        <img src="./images/icons/david.png" alt="David Rassler" />
        <p>David Rassler</p>
        <p>Engineering Manager <span>@Instagram</span></p>
      </div>
    </li>

    <li>
      <div>
        <p>
          Let's say we were overwhelmed how smooth @gitpod workspaces creation & own Docker image
          for workspaces worked. <br />
          Plus, installing @code extensions from the store and integrating @gitlab CI. That blew my
          mind entirely, and that is hard
        </p>
        <div>
          <img src="./images/icons/michael.png" alt="Michael" />
          <p>Michael Friedrich</p>
          <p>Developer Evangelist <span>@GitLa</span></p>
        </div>
      </div>
    </li>
  </ul>

  <ul>
    <li>
      <a href="#">
        <svg>
          <use href="./images/svg/sprite.svg#gitlab"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <use href="./images/svg/sprite.svg#fcc"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <use href="./images/svg/sprite.svg#dwave"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <use href="./images/svg/sprite.svg#google"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <use href="./images/svg/sprite.svg#amazon"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <use href="./images/svg/sprite.svg#fb"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <use href="./images/svg/sprite.svg#uber"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <use href="./images/svg/sprite.svg#intel"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <use href="./images/svg/sprite.svg#theia"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <use href="./images/svg/sprite.svg#code"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
